@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
    font-family: 'RiaSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.wrap{
    width: 1170px;
    margin: 0 auto;
}

body{
    background-color: rgb(250, 250, 250);
}

/* ====================================
    ============== header ===============    
==================================== */
header{
    position: fixed;
    top: 30px;
    width: 1170px;
    height: 70px;
    line-height: 70px;
    border-radius: 50px;
    z-index: 9999;
}

header .nav{
    display: flex;
    justify-content: space-between;
}

header .nav .gnb{
    display: flex;
}

header .nav .gnb li {
    margin: 0 15px 0 15px;
}

header .nav .gnb li a{
    display: block;
    padding: 0 5px 0 5px;
    color: #464646;
    font-weight: 500;
    font-size: 1.2rem;
}

header .nav .logo{
    padding: 12px;
    width: 120px;
}

header .nav .logo img{
    width: 100%;
}

.active{
    background: #ffffff;
    box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.deactive{
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
}

/* ====================================
    ============== container ===============    
==================================== */
.container{
    font-family: Pretendard;
}

/* main 섹션 */

.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: left;
}

.main .my {
    display: flex;
    align-items: center;
    position: relative;
}

.main .myimg_bg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: 22%;
    top: 53%;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .myimg_bg::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    background: linear-gradient(45deg, #3D67FF, #5441fc, #1eb5ff);
    z-index: -1;
}

.main .myimg {
    width: 270px;
    height: 270px;
    position: relative;
}

.main .myimg img {
    width: 100%;
    border-radius: 50%;
}

.main_text {
    max-width: 600px;
    padding-left: 90px;
    letter-spacing: -0.5px;
}

.mytitle {
    font-family: 'RiaSans-ExtraBold';
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: -1px;
    color: #3D67FF;
    font-weight: 500;
}

.mytitle .bold{
    font-weight: 600;
    color: #5441fc;
}

@keyframes blink {
    50% {
    opacity: 0;
    }
}

.bold {
    animation: blink 1s step-start infinite;
}

.myname {
    font-family: 'RiaSans-ExtraBold';
    color: #3D67FF;
    font-weight: 700;
    font-size: 3.3rem;
    background: linear-gradient(45deg,#3D67FF,#5441fc,#1eb5ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: c 4s ease infinite;
    background-size: 200% 200%;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

@keyframes c {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.sub {
    font-weight: 400;
    margin-top: 35px;
    font-size: 1.1rem;
    line-height: 26px;
    letter-spacing: 0.3px;
}


/* aboutme 섹션 */
#aboutme{
    box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    border-radius: 30px;
    background: #ffffff;
}

#aboutme h2{
    font-size: 2.3rem;
    color: #3D67FF;
    font-weight: 600;
    padding: 30px 0 0 40px;
}

#aboutme .aboutme_content{
    display: flex;
    margin: 30px auto;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 40px 40px 80px;
    position: relative;
    line-height: 28px;
}

.aboutme_content .left{
    margin-left: 300px;
}

.aboutme_content .left .certi{
    padding-top: 25px;
}

.aboutme_title{
    color: rgb(122, 122, 122);
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.mgb{
    margin-bottom: 40px;
}

/* .aboutme_content .contact .contact_title{
    font-size: 1.5rem;
    margin-bottom: 10px;
} */

/* .aboutme_content .contact{
    background: #3D67FF;
    font-weight: 300;
    width: 180px;
    height: 100px;
    color: #e9e9e9;
    border-radius: 15px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding-left: 20px;
    top: 230px;
    right: 40px;
    gap: 5px;
} */

/* skill 영역 */
#skill{
    padding: 100px 0 80px;
}

.skill h2{
    font-size: 3rem;
    color: #3D67FF;
    font-weight: 400;
    margin-bottom: 35px;
}

.skill_content{
    display: flex;
    justify-content: space-between;
}

.skill_content p{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.right_sub,.left_sub{
    color: rgb(122, 122, 122);
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.right_sub{
    margin-bottom: 33px;
}

/* 웹 영역 */
.web{
    border-radius: 30px;
    box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    background: #ffffff;
}

.web h2{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 80px 0 0 0;
    color: #3D67FF;
}

.web .title_sub{
    text-align: center;
    color: #7a7a7a;
    font-size: 1.3rem;
    padding: 10px 0 100px 0;
}

.web_wrap{
    display: block;
    justify-items: center;
    padding-bottom: 10px;
}

.web_pro{
    display: flex;
    margin-bottom: 150px;
}

.web_pro .frame_box .frame {
    max-width: 420px;
    width: 100%;
    position: relative;
}

.web_pro .frame_box .frame .mokup_pc {
    width: 100%;
    top: 0;
}

.web_pro .frame_box .frame .scroll-image {
    display: block;
    width: 370px;
    height: 211px;
    position: absolute;
    overflow: hidden;
    top: 14px;
    left: 25px;
}

.web_pro .frame_box .frame .scroll-image img {
    width: 100%;
    position: absolute;
    transition: transform 5s ease;
    top: 0;
}
.web_pro .info_box{
    margin-left: 80px;
}

.web_pro .info_box .title_box p{
    font-size: 2.7rem;
    font-weight: 800;
    color: #46464638;
}

.web_pro .info_box .title_box p::after{
    content: "";
    display: block;
    height: 1px;
    background-color: #464646;
    margin: 20px 0;
}

.web_pro .info_box .title_box p span{
    font-size: 2rem;
    font-weight: 600;
    color: #464646;
    margin-left: 6px;
}

.web_pro .info_box .title_box .site{
    color: #3D67FF;
    font-weight: 500;
}

.web_pro .info_box .sub_box::after{
    content: "";
    display: block;
    height: 0.5px;
    background-color: #464646;
    margin: 20px 0;
}

.web_pro .info_box .sub_box li:nth-child(1){
    margin: 20px 0;
}

.web_pro .btn{
    display: flex;
    gap: 10px;
}

.button{
    background: #ffffff;
    width: 100px;
    height: 30px;
    border: 2px solid #3D67FF;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    transition: 0.3s all;
}

.button:hover{
    background: #3D67FF;
}

.button:hover>a{
    display: block;
    color: #ffffff;
}

/* design 영역 */
.design h2{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 80px 0 0 0;
    color: #3D67FF;
}

.design .title_sub{
    text-align: center;
    color: #7a7a7a;
    padding: 10px 0 80px 0;
    font-size: 1.3rem;
}

.design .work_wrap{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 150px;
}

.design .work1,.work2,.work3{
    width: 330px;
    height: 120px;
    background: #ffffff;
    border-radius: 20px;
    line-height: 100px;
    font-weight: 500;
    font-size: 1.4rem;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.075);
}

.design .work1:hover,
.design .work2:hover,
.design .work3:hover {
    background: #3D67FF;
    transition: 0.5s ease;
}

.design .work1>a:hover,
.design .work2>a:hover,
.design .work3>a:hover,
.design .work1>a:hover span,
.design .work2>a:hover span,
.design .work3>a:hover span {
    color: #e4e4e4;
}

.design .work_wrap span{
    font-weight: 400;
    color: #7a7a7a;
    font-size: 0.9rem;
    display: block;
    margin-top: -70px;
}

/* end 영역 */
.end{
    text-align: left;
    padding: 200px;
    position: relative;
}

.end .end_text{
    position: absolute;
    top: 370px;
    right: 130px;
}

.end .end_title{
    font-size: 2rem;
    text-wrap: nowrap;
    font-weight: 700;
    color: #5441fc;
    margin-bottom: 20px;
    text-align: left;
}

.end .end_sub{
    font-size: 1.2rem;
    text-wrap: nowrap;
    color: #464646;
}

.end .contact{
    background: #5441fc;
    color: #e4e4e4;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.end .contact h3{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 50px;
}

.end .contact p{
    font-weight: 500;
    font-size: 1.1rem;
}

/* footer 영역 */
footer{
    margin-top: 70px;
    background: #464646;
    color: #ffffff;
}

footer .foot_sub{
    font-size: 0.9rem;
    text-align: center;
    font-weight: 300;
    padding: 45px;
}
